<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Page1</servlet-name>
        <servlet-class>Pages.Page1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Page2</servlet-name>
        <servlet-class>Pages.Page2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Message</servlet-name>
        <servlet-class>Pages.Message</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>Pages.Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IB</servlet-name>
        <servlet-class>Pages.IB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>status</servlet-name>
        <servlet-class>Pages.status</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Page1</servlet-name>
        <url-pattern>/1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Page2</servlet-name>
        <url-pattern>/2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Message</servlet-name>
        <url-pattern>/Message</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IB</servlet-name>
        <url-pattern>/IB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>status</servlet-name>
        <url-pattern>/status</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
